<h2>Welcome to PizzaShop!</h2>
<br>
<div class="row">

    <% @products.each do |p| %>
        <div class="col-md-3">
            <div>
                <h4><%= p.title %></h4>
            </div>
            <div>
                <img src="<%= p.path_to_image %>" width="100%" height="175px">
            </div>
            <div>
                <p><%= p.description %></p>
            </div>
            <div>
                <b>Size:</b> <%= p.size %> cm
            </div>
            <div>
                <b>Price:</b> <%= p.price %> RUB
            </div>
            <div>
                <button class="btn btn-sm btn-danger" onClick="add_to_cart(<%= p.id %>)">Add to Cart</button>
            </div>

        </div>
    <% end %>

</div>

<script type="text/javascript">
    $(function() {
        update_orders_input();
    });
</script>
